html {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth; 
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .box{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;  
  }

  .form {
    /* display: flex; 
    justify-content: center;
    align-items: center; */
    border: solid white;
    border-radius: 2em;
    background-color: white;
    padding: 100px;
    box-shadow: 0px 4px 15px 5px rgba(94,94,94,0.84);
  }

  .btn {
    position: relative;
    bottom: -30px;
    font-size: 1rem;
    letter-spacing: .15rem;
  }
  
  .btn:hover {
    background-color: #DB005B;
  }

  #logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    object-fit: cover;
    position: relative;
    top: -80px;
  }