hmtl {
    /* height: 100vh;
    width: 100%; */
    margin: 0;
    padding: 0;
    /* overflow: hidden; 
    scroll-behavior: smooth;  */
  }



.wrapper {
  
    display: grid;
    grid-template-areas: 
    "lat_menu head_post head_post"
    "lat_menu feed feed"
    "lat_menu feed feed"
    "lat_menu footer footer";  
    grid-template-columns: 0.5fr 1fr 1fr; 
    border-radius: 2em;
    box-shadow: 0px 4px 15px 5px rgba(94,94,94,0.84);
    max-width: 80%;
    position: relative;
    left: 10%;  
    margin-top: 20px;
    margin-bottom: 20px;
    
}


header ul {
    display: flex;
    flex-direction: column;
    /* padding-left: em; */
}

header ul li {
    margin-right: 1em;
}
body{
    /* padding: 0,5em; */
    /* width: 100vw;
    height: 100vh; */
    /* overflow: hidden; */
    background-color: rgb(148,187,233,1);
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  
}
.create_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    
}
.lat_menu {
    grid-area: lat_menu;
    border: 1px rgb(248, 244, 244) solid;
    background-color: white;
    padding-left: 4em;
    padding-top: 1em;
    border-radius: 2em 0 0 2em ;
    
 
}

.head_post{
    grid-area: head_post;
    border-left: 1px rgb(39, 38, 38) solid;
    border-radius: 0 2em 0 0 ;
    background-color:  #f5f1ec;
 
}

.feed{
    grid-area: feed;
    border: 1px black solid;
    background-color:  #f5f1ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer{
    grid-area: footer;
    border: 1px black solid;
    background-color: #f5f1ec;
    border-radius: 0 0 2em 0 ;
 
}
.post{
    width : 50vw;
    padding-bottom: 1em;
    padding-left: 2em;
    border-bottom: lightgray 1px solid;

}
.post img{
    border-radius: 20px;
}

#logo {
    position: relative;
    left: -30px;
}

#pseudoLatBar>img{
    width: 30px;
    position: relative;
    top: 50px;
    left: -2px;
}
#pseudoLatBar>p{
    position: relative;
    left: 50px;
}

#homeLatBar>img{
    width: 30px;
    position: relative;
    top: 50px;
    left: -2px;
}
#homeLatBar>p{
    position: relative;
    left: 50px;
}

#settingsLatBar>img{
    width: 30px;
    position: relative;
    top: 50px;
    left: -2px;
}

#settingsLatBar>p{
    position: relative;
    left: 50px;
}

#logout>img{
    width: 30px;
    position: relative;
    top: 8px;
    left: -20px;
}

#logout>li{
    width: 30px;
    position: relative;
    top: -30px;
    left: 30px;
}

.footer>a>img{
    width: 20px;
    display: inline-block;
}

.profilPost{
    display: inline-flex;
    padding: 5px;
}

.profilPost img{
    padding: 5px;
}