.wrapper {
    padding: 1em;
    width: auto;
    display: grid;
    grid-template-areas: 
    "lat_menu head_post head_post"
    "lat_menu feed feed"
    "lat_menu feed feed"
    "lat_menu footer footer";  
    grid-template-columns: 0.5fr 1fr 1fr; 
    grid-template-rows: auto auto auto auto;
}


header ul {
    display: flex;
    align-items: flex-end;
    padding-left: 1em;
}

header ul li {
    margin-right: 1em;
}
body{
    padding: 0,5em;
    background-color: #ECB5F7;
}
.create_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}
.lat_menu {
    grid-area: lat_menu;
    border: 1px black solid;
    background-color: white;
    padding-left: 4em;
    padding-top: 1em;
 
}

.head_post{
    grid-area: head_post;
    border: 1px black solid;
    padding-left:2em;
    background-color:  #f5f1ec;
 
}

.feed{
    grid-area: feed;
    border: 1px black solid;
    background-color:  #f5f1ec;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.footer{
    grid-area: footer;
    border: 1px black solid;
    background-color: #f5f1ec;
 
}
.post{
    width : 50vw;
    padding-bottom: 1em;
    padding-left: 2em;
    border-bottom: lightgray 1px solid;

}
.post img{
    border-radius: 20px;
}